<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Document</title>
</head>

<body>

    <div class="cont" id="laterale">
        <div class="cont_img">

            <img :src="images[counter].immagine">

            <h1> {{images[counter].titolo}} </h1>

            <p> {{images[counter].text}} </p>

        </div>

        <div class="img_laterale">
            <a @click="meno" class="top" href="#"><i class="fas fa-chevron-circle-up"></i></a>

            <div v-if="counter == i" v-for="(image, i) in images">

                <img :src="image.immagine" class="attivo">

            </div>

            <div v-else>

                <img :src="image.immagine" class="">

            </div>


            <a @click="piu" class="bottom" href="#"><i class="fas fa-chevron-circle-down"></i></a>


        </div>
    </div>

    <script src="./JS/main.js"></script>

</body>

</html>