*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.cont{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.cont_img{
    width: 80%;
    position: relative;
    color: white;
}

img{
    width: 100%;
    height: 100%;
    
}

.img_laterale  img{
    filter: brightness(0.5);
}

.img_laterale{
    display: flex;
    flex-direction: column;
    width: 20%;
    position: relative;
}

a{
    position: absolute;
    font-size: 25px;
    color: white;
    z-index: 100;
}

.bottom{
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.top{
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}

h1{
    position: absolute;
    bottom: 10%;
    right: 5%;
}

p{
    position: relative;
    bottom: 10%;
    width: 98%;
    left: 2%;
}

.filtro{
    filter: brightness(0.5);
}

.attivo{
    filter: brightness(1)!important;
    border: 5px solid gray;
}